<div id="plots">
  <% @plots.each do |plot| %>
    <div id="plot-<%= plot.id %>">
      <p>Plot Number: <%= plot.number %></p>
      <p>Plants:</p>
        <% plot.plants.each do |plant| %>
          <li><%= plant.name %></li>
        <% end %>
    </div>
  <% end %>
</div>