<div id="plots">
  <% @plots.each do |plot| %>
    <div id="plot-<%= plot.id %>">
      <p>Plot Number: <%= plot.number %></p>
      <p>Plants:</p>
        <% plot.plants.each do |plant| %>
          <div id="plant-<%= plant.id %>">
            <li><%= plant.name %></li>
          </div>
        <% end %>
    </div>
  <% end %>
</div>